 /* ▼ WEB BODY ▼ */

 
 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

 *{
    box-sizing: border-box;
 }

 :root{
    --primary-color: rgb(255, 254, 246);
    --secondary-color: #383838;
    --terciary-color: black;
    --navbarLinks-color: rgb(255, 254, 246);
 }

   .dark-theme{ 
    --primary-color: #868686 ;
    --secondary-color: rgb(0, 0, 0);
    --terciary-color: rgb(224, 224, 224);
    --navbarLinks-color: rgb(224, 224, 224);
 }

 p{
    color:var(--terciary-color);
 }

  body{
    margin: 0;
    width: 100%;
    background-color: var(--primary-color);
    font-family: 'Titillium Web','arial';
    transition: background 0.5s;

  }


  section{
    max-width: 100%;
    height: auto;
    min-height: 100vh;
  }

  

  .sections{
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .section-content{
    gap: 5%;
    display: flex;
    padding: 5%;
   /*background-color: rgba(89, 255, 0, 0.166);*/
    max-width: 100%;
    height: auto;
  }


  .hidden{
    padding-top: 10%;
    opacity: 0;
    transition: all 2s;

  }

  .show{
    opacity: 1;

  }

  #about-me{
    padding-bottom: 0%;
  }


/* ▼ NAVIGATION MENU ▼ */

.brand-title{
    color: var(--navbarLinks-color);
}

.navbar{
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: background 0.5s;
}

.brand-title{
     font-size: 1.5rem;
     margin: .5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    padding: 1rem;
    list-style: none;

}

.navbar-links li a{
    text-decoration: none;
    color: var(--navbarLinks-color);
    align-items: center;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.navbar a:hover{
    color: var(--primary-color);

    opacity: 0.7;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width:100%;
    background: var(--secondary-color);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

/* ▼ PROFILE IMAGE ▼ */

.profile-image{
    width: 25%;
    height: 25%;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    animation: morph 10s ease-in-out infinite;
    border: 2px solid var(--secondary-color);
}
@keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    }
}

/* ▼ NAVBAR SHRINK WHEN RESIZING ▼ */

@media (max-width: 800px) {

    .hidden{
        padding-top: 30%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    ul li ul.dropdown li{
        display: block;
        
    }
    
    ul li ul.dropdown{
        width: 100%;
        background: var(--secondary-color);
        position: absolute;
        z-index: 999;
        display: none;
    }
    
    ul li:hover ul.dropdown{
        display: block;
    }


}

/* ▼ SOCIAL BUTTONS ▼ */

.headerDivider {
    border-left:1px solid var(--terciary-color); 
    border-right:1px solid var(--terciary-color); 
    height: 109px;

}

.social-buttons ul li{
    color: var(--secondary-color);
    list-style: none;
    display: inline-block;
    justify-content: flex-end;
    text-decoration: none;
}

.social-buttons{
    display: flex;
}

ul li a .fa-brands{
    color: var(--secondary-color); ;
    padding-bottom: 0.5em;
    font-size: 2em;;
}





/* OLD CODE FOR THE NAVBAR

 nav {

    overflow: hidden;
    margin: 0 auto 0;
    padding-top: 0px;
    position: fixed;
    width: 100%;
    line-height: 50%;
    background-color: #2d2d2d;
}

nav ul {
    line-height: 50%;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}


nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

nav a:hover{
    color: rgb(212, 212, 212);

    opacity: 0.7;
}



